body {
  background-color: #202124;
}

#portrait-container img {
  width: auto;
  mix-blend-mode: overlay;
}

@media (max-width:4200px){

  #portrait-container img {
    height:136px;
  }

}

@media (min-width:420px) and (max-width:900px){

  #portrait-container img {
    height:205px;
  }

}

@media (min-width:900px){

  #portrait-container img {
    height:215px;
  }

}