body {
  background-color: #202124;
  color: #E9E9E9;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Basic Layout */

/* Grid items */
@supports (display: grid) {
html {
  height:100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 144px auto 80px;
}

header {
  background-image: linear-gradient(180deg, #2A2B2E 32%, rgba(42,43,46,0.90) 100%);
  border-bottom: 1px solid #454545;
  box-shadow: 0 2px 19px 10px rgba(0,0,0,0.11), 0 2px 4px 0 rgba(0,0,0,0.06);
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: linear-gradient(180deg, #2A2B2E 32%, rgba(42,43,46,0.90) 100%);
  box-shadow: 0 2px 19px 10px rgba(0,0,0,0.11), 0 2px 4px 0 rgba(0,0,0,0.06);
  /* padding-top: 24px; */
}

header nav ul,
section.grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [leftcol-start] repeat(4, minmax(1em, 60px))
    [leftcol-end] minmax(1em, 60px)
    [rightcol-start] repeat(7, minmax(1em, 60px))
    [rightcol-end] minmax(0, 1fr)
    [full-end];
  column-gap: minmax(1em, 30px);
  row-gap: 48px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 420px) {

  header nav ul,
  section.grid {
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [leftcol-start] repeat(2, minmax(1em, 40px))
      [leftcol-end] minmax(1em, 40px)
      [rightcol-start] repeat(2, minmax(1em, 40px))
      [rightcol-end] minmax(0, 1fr)
      [full-end];
      column-gap: 20px;
    /* column-gap: minmax(1em, 20px); */
    row-gap: 24px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

}

@media (min-width: 420px) and (max-width: 900px) {

  header nav ul,
  section.grid {
    display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [leftcol-start] repeat(3, minmax(1em, 50px))
    [leftcol-end] minmax(1em, 30px)
    [rightcol-start] repeat(6, minmax(1em, 50px))
    [rightcol-end] minmax(0, 1fr)
    [full-end];
  column-gap: 30px;
  row-gap: 48px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  }

}

header nav ul {
  grid-auto-rows: minmax(104px, auto);
  line-height: 0;
  row-gap: 0;
}

header nav ul:after {
  content: '';
  border-bottom: 1px solid #A9A9A9;
  grid-column: rightcol-start / full-end;
  align-self: start;
}

header nav ul li {
  align-self: end;
  padding-bottom: 17px;
}

@media (max-width: 420px) {
  header nav ul {
    grid-auto-rows: minmax(40px, auto);
    line-height: 0;
    margin-top: 24px;
  }
  header nav ul:after {
    grid-column: full-start / full-end;
  }
  header nav ul li:nth-child(2) {
    grid-column: leftcol-start;
  }
}

main {
  align-self: start;
  grid-auto-rows: minmax(80%, auto);
  margin-bottom: 24px;
}

footer {
  grid-auto-rows: minmax(80px, auto);
}

article,
section.grid > div:not([class]),
footer section ul {
  grid-column: rightcol-start / rightcol-end;
}

@media (max-width: 420px) {

  section.grid > div:not([class]) {
    grid-column: leftcol-start / rightcol-end;
  }

}

aside {
  grid-column: leftcol-start / leftcol-end;
}

div.about-details {
  grid-column: leftcol-start / leftcol-end;
  justify-self: end;
  text-align: right;
  margin-top: -4px;
}

@media (max-width: 420px) {

  div.about-details {
    grid-column: leftcol-start / rightcol-end;
    justify-self: start;
    text-align: left;
    margin-top: 0;
  }

}

@media (min-width:420px) and (max-width:900px) {
  article,
  section.grid > div:not([class]) {
    grid-column: rightcol-start / 11;
  }
}

#home-link-container {
  grid-column: leftcol-start / rightcol-start;
  justify-self: center;
}

#portrait-container {
  grid-column: leftcol-start / rightcol-start;
  justify-self: center;
}

@media (max-width: 420px) {
  #home-link-container {
    grid-column: leftcol-start / full-end;
    justify-self: left;
  }

  aside,
  #portrait-container,
  article,
  footer section ul {
    grid-column: leftcol-start / rightcol-end;
    justify-self: left;
  }

}

}

/* Components */
/* Core common elements */
h1, h2 {
  font-family: 'Petrona', serif;
  margin-bottom: 1.5em;
}

#home h1 {
  font-size: 46px;
}

h1, h2 {
  font-size: 24px;
}

p {
  margin-bottom: 1em;
}

a  {
  color: #E9E9E9;
}

/* Navigation */
#nav-home-link {
  font-family: 'Petrona', serif;
  font-size: 36px;
  color: #89A7C2;
  text-decoration: none;
}

nav .link {
  font-family: 'Petrona', serif;
  font-weight: bold;
  font-size: 18px;
  color: #E9E9E9;
  text-decoration: none;
  padding-bottom: 5px;
}

nav .link:hover {
  color: #89A7C2;
}

nav .link.active {
  color: #89A7C2;
  border-bottom: 2px solid #A9A9A9;
}

/* Content area components */

.breakout {
  background-color: blueviolet;
}

main section.grid {
  margin-top: 80px;
}

@media (max-width: 420px) {
  main section.grid {
    margin-top: 40px;
  }
}

/* Responsive Rules for the self portrait graphic */
#portrait-container img {
  width: auto;
  mix-blend-mode: overlay;
}

@media (max-width:420px){

  #portrait-container img {
    height:136px;
  }

}

@media (min-width:420px) and (max-width:900px){

  #portrait-container img {
    height:205px;
  }

}

@media (min-width:900px){

  #portrait-container img {
    height:215px;
  }

}

@media (max-width: 420px) {
  #home article:first-of-type h1 {
    position: relative;
    top: -100px;
    left: 120px;
    width: min-content;
  }

  #home article:first-of-type h2 {
    margin-top: -96px;
  }
}

footer section.grid {
  font-family: 'Petrona', serif;
  font-size: 14px;
  font-weight: bold;
  padding: 24px 0 0 0;
  /* border-bottom: 1px solid #4A4A4A */
}

.footer-list {
  display: flex;
  color: #939393;
}

.footer-item {
  margin-right: 16px;
}

footer section a {
  color: #939393;
}